iframe {
    border:none;
}

@media screen and (max-width: 682px) {
    #mainBackground {
        background-image: url('../img/astronomy_small.jpg');
        background-image: -webkit-image-set(url("../img/astronomy_small.webp") 1x, url("../img/astronomy_small.jpg") 1x);
        background-image: image-set(url("../img/astronomy_small.webp") type("image/webp"), url("../img/astronomy_small.jpg") type("image/jpeg"));
        background-size: cover;
    }

    /*#skillBusiness {
        background-image: url('../img/business_small.jpg');
        background-image: -webkit-image-set(url("../img/business_small.webp") 1x, url("../img/business_small.jpg") 1x);
        background-image: image-set(url("../img/business_small.webp") type("image/webp"), url("../img/business_small.jpg") type("image/jpeg"));
        background-size: cover;
    }*/
}

@media screen and (max-width: 1364px) and (min-width: 683px) {
    #mainBackground {
        background-image: url('../img/astronomy_medium.jpg');
        background-image: -webkit-image-set(url("../img/astronomy_medium.webp") 1x, url("../img/astronomy_medium.jpg") 1x);
        background-image: image-set(url("../img/astronomy_medium.webp") type("image/webp"), url("../img/astronomy_medium.jpg") type("image/jpeg"));
        background-size: cover;
    }

    /*#skillBusiness {
        background-image: url('../img/business_medium.jpg');
        background-image: -webkit-image-set(url("../img/business_medium.webp") 1x, url("../img/business_medium.jpg") 1x);
        background-image: image-set(url("../img/business_medium.webp") type("image/webp"), url("../img/business_medium.jpg") type("image/jpeg"));
        background-size: cover;
    }*/
}

@media screen and (min-width: 1365px) {
    #mainBackground {
        background-image: url('../img/astronomy_large.jpg');
        background-image: -webkit-image-set(url("../img/astronomy_large.webp") 1x, url("../img/astronomy_large.jpg") 1x);
        background-image: image-set(url("../img/astronomy_large.webp") type("image/webp"), url("../img/astronomy_large.jpg") type("image/jpeg"));
        background-size: cover;
    }

    /*#skillBusiness {
        background-image: url('../img/business_large.jpg');
        background-image: -webkit-image-set(url("../img/business_large.webp") 1x, url("../img/business_large.jpg") 1x);
        background-image: image-set(url("../img/business_large.webp") type("image/webp"), url("../img/business_large.jpg") type("image/jpeg"));
        background-size: cover;
    }*/
}

#btn-full-screen {
    background: url('../img/icons/website/fullscreen.svg') center/1.4em no-repeat;
    margin-right: 0.8rem!important;
}

#social-medias-extended {
    transform: scale(90%);
}

#imgProfile {
    max-width: 300px;
    border-radius: 50%;
}

#linkContactMe{
    color: white;
}

#linkContactMe:hover,#linkContactMe:active{
    color: #212529;
}

#testimonialsRow{
    margin-top: -80px;
}

#elSalvadorIcon{
    height: 1.3em;
    width: auto;
    filter: invert(1);
}

#booksIframe {
    width: 100%;
    border: 0;
    height: 250px;
}

#icon-skills {
    filter: invert(100%)!important;
}

#legendsIframe {
    width: 100%;
    border: 0;
    height: 325px;
}

#modelDark {
    background-color: #2C3E50;
    text-align: center;
}

#modalBlack {
    background-color: #121212;
    text-align: center
}

#carousel-control-prev-video {
    left: 0px;
}

#carousel-control-next-video {
    right: 0px;
}

#google_translate_element {
    padding:1em;
}

.extraIcons {
    font-size: x-large;
}

.divSpace {
    padding-top: 15px;
}

.yLinks {
    color: yellow!important;
}

.wHR {
    border-top: 1px solid rgba(255,255,255,0.5);
}

.iVideos {
    width: 100%;
    height: 315px;
    margin: auto!important;
}

.carousel-video-inner {
    text-align: center;
}

.externalImg img,.externalImg:active img{
    margin-top: -3px;
    filter: invert(100%);
    width: 24px;
    height: 24px;
}

.externalImg:hover img{
    filter: invert(14%) sepia(14%) saturate(390%) hue-rotate(169deg) brightness(94%) contrast(98%);
}

.iconFooter {
    width: 25px;
    height: 25px;
    filter: invert(100%);
    margin-top: -1px;
}

.btn-home:hover img {
    filter: invert(0%);
}

.btn-footer:hover img {
    filter: invert(0%);
}

.btnIcons {
    margin-top: -2px;
    filter: invert(1);
}

.picReviewers{
    max-height: 100px;
    max-width: 100px;
}

.hMenu {
    height: 13px;
    width: 11.2px;
    margin-top: -3px;
    filter: invert(100%);
}

.previewerIframe{
    width: 100%;
    height: 450px;
    border: 0;
}

.centerText {
    text-align: center;
}

.mini-cards {
    background: rgba(51, 170, 51, 0);
    border: 0;
}

.btn-more {
    text-align: center;
    width: 100%;
}

.cards-row {
    width: 100%;
}

.row-auto {
    margin: auto;
}

a.text-material-link {
    color: #bb86fc;
}

a.text-material-link:hover,a.text-material-link:active {
    color: #997EFB;
}

a.text-material-link-dark {
    color: #6300ED;
}

a.text-material-link-dark:hover,a.text-material-link-dark:active {
    color: #7919FF;
}

.text-material-orange {
    color: #ED5218;
}

.bookIcons {
    width: 96px;
    padding: 5px;
    margin: auto;
}

.card-link:hover .card {
    transform:scale(1.1);
}

.card-services:before, .card-awards:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: rgba(255, 255, 255, .1);
    z-index: 1;
    transform: skewY(-5deg) scale(1.5);
}

.card-services {
    position: relative;
    min-width: 300px;
    height: auto;
    overflow: hidden;
    border-radius: 15px;
    margin: 0 auto;
    padding: 40px 20px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    transition: .5s;
    background: linear-gradient(-45deg, #24ff72, #9a4eff);
}

.fa-icon-services {
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    background: linear-gradient(-45deg, #9a4eff, #24ff72);
}

.card-awards {
    position: relative;
    min-width: 300px;
    height: auto;
    overflow: hidden;
    border-radius: 15px;
    margin: 0 auto;
    padding: 40px 20px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    transition: .5s;
    background: linear-gradient(-45deg, #FFEB3B, #EEEEEE);
}

.fa-icon-awards {
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    background: linear-gradient(-45deg, #EEEEEE, #FFEB3B);
}

.clean-btn {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}