#header {
    display: none;
 }
 .gallery-block {
    padding-top: 0px;
 }
 
.row-container {
    margin-right: 0!important;
    margin-left: 0!important;
}

.full-width {
    width: 100%;
}

h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}