@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?btom7l');
  src:  url('fonts/icomoon.eot?btom7l#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?btom7l') format('truetype'),
    url('fonts/icomoon.woff?btom7l') format('woff'),
    url('fonts/icomoon.svg?btom7l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ios_share:before {
  content: "\e907";
}
.icon-at:before {
  content: "\e900";
}
.icon-email:before {
  content: "\e900";
}
.icon-share_windows:before {
  content: "\ea7d";
}
.icon-amazon:before {
  content: "\ea87";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eaca";
}
.icon-share-alt:before {
  content: "\e908";
}
.icon-handshake-o:before {
  content: "\e906";
}
.icon-vcard-o:before {
  content: "\e901";
}
.icon-podcast:before {
  content: "\e902";
}
.icon-calendar-check-o:before {
  content: "\e903";
}
.icon-tiktok:before {
  content: "\e904";
}
.icon-x:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e905";
}
